// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.banner-img {
  width: 100%;
  height: 200px !important;
  background-size: auto;
  background-size: cover;
  margin: 0;
  padding: 100px 0;
  border: 0;
}

.banner-img > .rect {
  height:400px !important;
  padding: 200px;
}
